<body>
    <h1>Add Country</h1>
    <form action="/addCountry" method="POST">
    <label>Country Code:</label>
    <input type="text" name="co_code"><br>
    <label>Country Name:</label>
    <input type="text" name="co_name"><br>
    <label>Country Details:</label>
    <input type="text" name="co_details"><br>
    <input type="submit" value="OK">
    </form>

    <br><br>
    <form action="/" class="inline">
        <button class="float-left submit-button" >Home</button>
    </form>
    </body>