<body>
    <h1>Add head of State</h1>
    <form action="/addHeadOfState" method="POST">
    <label>Country Code:</label>
    <input type="text" name="countryCode"><br>
    <label>Head of State:</label>
    <input type="text" name="headName"><br>
    <input type="submit" value="OK">
    </form>
    
    
    <br><br>
    <form action="/" class="inline">
        <button class="float-left submit-button" >Home</button>
    </form>
    </body>