<h1>Countries</h1>


<form action="/addCountry" class="inline">
    <button class="float-left submit-button" >Add Country</button>
</form>

<table>
    <tr>
        <th>Country Code</th>
        <th>Country Name</th>
        <th>Country Details</th>
        <th>Action</th>
       
    </tr>
    <% city.forEach((city) =>
{ %>
    <tr>
        <td><%= country.co_code %></td>
        <td><%= country.co_name %></td>
        <td><%= country.co_details %></td>
        <td><div id="text" onClick="updateCountry()"> Update </div></td>
        <td><div id="text" onClick="deleteCountry()"> Delete </div></td>
    </tr>
    <% }) %>
</table>

<br><br>
<form action="/" class="inline">
    <button class="float-left submit-button" >Home</button>
</form>